openapi: 3.1.0
info:
  title: "Captured API \u2014 use1-api-omada-controller-connector.tplinkcloud.com"
  version: '1.0'
  description: "Auto-generated from a sanitized HAR. Schemas are inferred (types only \u2014 no captured values). IDs templated."
servers:
- url: https://use1-api-omada-controller-connector.tplinkcloud.com
paths:
  /omadac/{id}/openapi/v1/{id2}/adopt-tip:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/adopt-tip
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      adoptDeviceNum:
                        type: integer
                      recommendDeviceNum:
                        type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/client-detail-information:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/client-detail-information
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      switches:
                        type: object
                        properties:
                          clientRecognitionEnable:
                            type: boolean
                          clientHealthEnable:
                            type: boolean
                          clientHistoryEnable:
                            type: boolean
                          clientDataTrendEnable:
                            type: boolean
                      durations:
                        type: object
                        properties:
                          clientHistoryRecordTime:
                            type: integer
                          clientDataTrendRecordTime:
                            type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/clients/stat/devices:
    post:
      summary: POST /omadac/{id}/openapi/v1/{id2}/clients/stat/devices
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        siteId:
                          type: string
                        mac:
                          type: string
                        clientNum:
                          type: integer
                        clientNum2g:
                          type: integer
                        clientNum5g:
                          type: integer
                        clientNum5g2:
                          type: integer
                        clientNum6g:
                          type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                devices:
                  type: array
                  items:
                    type: object
                    properties:
                      mac:
                        type: string
                      siteId:
                        type: string
  /omadac/{id}/openapi/v1/{id2}/devices/upgradeable/stat:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/devices/upgradeable/stat
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      deviceStat:
                        type: object
                        properties:
                          ecspV1Num:
                            type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/settings/ui-setting:
    post:
      summary: POST /omadac/{id}/openapi/v1/{id2}/settings/ui-setting
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      settings:
                        type: array
                        items:
                          type: object
                          properties:
                            settingKey:
                              type: string
                            uiSetting:
                              type: string
                            accountLevel:
                              type: boolean
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: array
                  items:
                    type: object
                    properties:
                      settingKey:
                        type: string
    put:
      summary: PUT /omadac/{id}/openapi/v1/{id2}/settings/ui-setting
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: array
                  items:
                    type: object
                    properties:
                      settingKey:
                        type: string
                      uiSetting:
                        type: string
                      accountLevel:
                        type: boolean
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/clients/search-fields-options:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/clients/search-fields-options
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      deviceType:
                        type: array
                        items:
                          type: object
                          properties:
                            category:
                              type: string
                            type:
                              type: array
                              items:
                                type: string
                      vendor:
                        type: array
                        items:
                          type: string
                      device:
                        type: array
                        items:
                          type: string
                      network:
                        type: array
                        items:
                          type: string
                      ssid:
                        type: array
                        items:
                          type: string
                      deviceDetail:
                        type: array
                        items:
                          type: object
                          properties:
                            mac:
                              type: string
                            name:
                              type: string
                            stack:
                              type: boolean
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/active-clients:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/active-clients
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        type:
                          type: string
                        mac:
                          type: string
                        apName:
                          type: string
                        traffic:
                          type: integer
                        trafficPercent:
                          type: integer
                        upload:
                          type: integer
                        uploadPercent:
                          type: integer
                        download:
                          type: integer
                        downloadPercent:
                          type: integer
                        healthScore:
                          type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/ap-density:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/ap-density
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      lessThan90:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            mac:
                              type: string
                            model:
                              type: string
                            type:
                              type: string
                            modelVersion:
                              type: string
                            traffic:
                              type: integer
                            trafficPercent:
                              type: integer
                            clientsCount:
                              type: integer
                            healthScore:
                              type: integer
                            signalLevel:
                              type: integer
                            rssi:
                              type: integer
                      from80To75:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            mac:
                              type: string
                            model:
                              type: string
                            type:
                              type: string
                            modelVersion:
                              type: string
                            traffic:
                              type: integer
                            trafficPercent:
                              type: integer
                            clientsCount:
                              type: integer
                            healthScore:
                              type: integer
                            signalLevel:
                              type: integer
                            rssi:
                              type: integer
                      from75To70:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            mac:
                              type: string
                            model:
                              type: string
                            type:
                              type: string
                            modelVersion:
                              type: string
                            traffic:
                              type: integer
                            trafficPercent:
                              type: integer
                            clientsCount:
                              type: integer
                            healthScore:
                              type: integer
                            signalLevel:
                              type: integer
                            rssi:
                              type: integer
                      from70To65:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            mac:
                              type: string
                            model:
                              type: string
                            type:
                              type: string
                            modelVersion:
                              type: string
                            traffic:
                              type: integer
                            trafficPercent:
                              type: integer
                            clientsCount:
                              type: integer
                            healthScore:
                              type: integer
                            signalLevel:
                              type: integer
                            rssi:
                              type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/card/overview:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/card/overview
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        total:
                          type: integer
                        preConfig:
                          type: integer
                        connected:
                          type: integer
                        disconnectedCount:
                          type: integer
                        list:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              status:
                                type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/categoryInfo:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/categoryInfo
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      totalRows:
                        type: integer
                      currentPage:
                        type: integer
                      currentSize:
                        type: integer
                      data:
                        type: array
                        items: {}
                      stat:
                        type: object
                        properties:
                          allowApps:
                            type: integer
                          blockApps:
                            type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
      - name: end
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: string
      - name: pageSize
        in: query
        required: false
        schema:
          type: string
      - name: start
        in: query
        required: false
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/client-association-activities:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/client-association-activities
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        lessThan1sNum:
                          type: integer
                        from1To3sNum:
                          type: integer
                        from3To12sNum:
                          type: integer
                        moreThan12sNum:
                          type: integer
                        time:
                          type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
      - name: end
        in: query
        required: false
        schema:
          type: string
      - name: start
        in: query
        required: false
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/client-association-time-distribution:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/client-association-time-distribution
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      lessThan2sNum:
                        type: integer
                      from2To4sNum:
                        type: integer
                      from4To6sNum:
                        type: integer
                      from6To8sNum:
                        type: integer
                      from8To10sNum:
                        type: integer
                      moreThan10sNum:
                        type: integer
                      fails:
                        type: integer
                      lessThan10sPercent:
                        type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
      - name: end
        in: query
        required: false
        schema:
          type: string
      - name: start
        in: query
        required: false
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/client-freq-distribution:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/client-freq-distribution
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        wifiProtocol:
                          type: string
                        totalClients:
                          type: integer
                        clients2g:
                          type: integer
                        clients5g:
                          type: integer
                        clients6g:
                          type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/client-rssi-distribution:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/client-rssi-distribution
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      lessThan72:
                        type: integer
                      from71To65:
                        type: integer
                      from65To55:
                        type: integer
                      from55To45:
                        type: integer
                      moreThan45:
                        type: integer
                      distribution2G:
                        type: object
                        properties:
                          lessThan72:
                            type: integer
                          from71To65:
                            type: integer
                          from65To55:
                            type: integer
                          from55To45:
                            type: integer
                          moreThan45:
                            type: integer
                      distribution5G:
                        type: object
                        properties:
                          lessThan72:
                            type: integer
                          from71To65:
                            type: integer
                          from65To55:
                            type: integer
                          from55To45:
                            type: integer
                          moreThan45:
                            type: integer
                      distribution6G:
                        type: object
                        properties:
                          lessThan72:
                            type: integer
                          from71To65:
                            type: integer
                          from65To55:
                            type: integer
                          from55To45:
                            type: integer
                          moreThan45:
                            type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/client-signal-distribution:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/client-signal-distribution
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      poorSignal:
                        type: object
                        properties:
                          totalClients:
                            type: integer
                          clientsPercent:
                            type: integer
                          clients2g:
                            type: integer
                          clients5g:
                            type: integer
                          clients6g:
                            type: integer
                      weakSignal:
                        type: object
                        properties:
                          totalClients:
                            type: integer
                          clientsPercent:
                            type: integer
                          clients2g:
                            type: integer
                          clients5g:
                            type: integer
                          clients6g:
                            type: integer
                      averageSignal:
                        type: object
                        properties:
                          totalClients:
                            type: integer
                          clientsPercent:
                            type: integer
                          clients2g:
                            type: integer
                          clients5g:
                            type: integer
                          clients6g:
                            type: integer
                      stableSignal:
                        type: object
                        properties:
                          totalClients:
                            type: integer
                          clientsPercent:
                            type: integer
                          clients2g:
                            type: integer
                          clients5g:
                            type: integer
                          clients6g:
                            type: integer
                      strongSignal:
                        type: object
                        properties:
                          totalClients:
                            type: integer
                          clientsPercent:
                            type: integer
                          clients2g:
                            type: integer
                          clients5g:
                            type: integer
                          clients6g:
                            type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/client-ssid-distribution:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/client-ssid-distribution
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        ssid:
                          type: string
                        totalClientNum:
                          type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/clients-bubble:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/clients-bubble
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        type:
                          type: string
                        mac:
                          type: string
                        apName:
                          type: string
                        traffic:
                          type: integer
                        trafficPercent:
                          type: integer
                        upload:
                          type: integer
                        uploadPercent:
                          type: integer
                        download:
                          type: integer
                        downloadPercent:
                          type: integer
                        healthScore:
                          type: integer
                        txRate:
                          type: integer
                        wifiProtocol:
                          type: string
                        rssi:
                          type: integer
                        signalLevel:
                          type: integer
                        channel:
                          type: integer
                        radioId:
                          type: integer
                        bandWidth:
                          type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/current-client-num:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/current-client-num
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      total:
                        type: integer
                      wiredClient:
                        type: integer
                      wirelessClient:
                        type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/gateway/isp/load:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/gateway/isp/load
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            mac:
                              type: string
                            status:
                              type: integer
                            supportSpeedTest:
                              type: boolean
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/longest-uptime:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/longest-uptime
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        wireless:
                          type: boolean
                        type:
                          type: string
                        model:
                          type: string
                        mac:
                          type: string
                        totalDuration:
                          type: integer
                        traffic:
                          type: integer
                        trafficPercent:
                          type: integer
                        upload:
                          type: integer
                        uploadPercent:
                          type: integer
                        download:
                          type: integer
                        downloadPercent:
                          type: integer
                        applications:
                          type: array
                          items: {}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/mostActiveAppTraffic:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/mostActiveAppTraffic
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: array
                    items: {}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
      - name: end
        in: query
        required: false
        schema:
          type: string
      - name: start
        in: query
        required: false
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/top-aps:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/dashboard/top-aps
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      topApByRt:
                        type: array
                        items:
                          type: object
                          properties:
                            device:
                              type: string
                            model:
                              type: string
                            modelVersion:
                              type: string
                            ip:
                              type: string
                            modelType:
                              type: string
                            type:
                              type: string
                            status:
                              type: integer
                            health:
                              type: integer
                            mac:
                              type: string
                            ratio:
                              type: integer
                      topApByDrop:
                        type: array
                        items:
                          type: object
                          properties:
                            device:
                              type: string
                            model:
                              type: string
                            modelVersion:
                              type: string
                            ip:
                              type: string
                            modelType:
                              type: string
                            type:
                              type: string
                            status:
                              type: integer
                            health:
                              type: integer
                            mac:
                              type: string
                            ratio:
                              type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
      - name: end
        in: query
        required: false
        schema:
          type: string
      - name: start
        in: query
        required: false
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/health/client/timeline:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/health/client/timeline
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      scores:
                        type: array
                        items:
                          type: object
                          properties:
                            time:
                              type: integer
                            scoreDetail:
                              type: object
                              properties:
                                goodCount:
                                  type: integer
                                averageCount:
                                  type: integer
                                poorCount:
                                  type: integer
                                noDataCount:
                                  type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
      - name: end
        in: query
        required: false
        schema:
          type: string
      - name: start
        in: query
        required: false
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/health/timeline:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/health/timeline
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      scores:
                        type: array
                        items:
                          type: object
                          properties:
                            time:
                              type: integer
                            siteHealthScore:
                              type: integer
                            deviceHealthScore:
                              type: integer
                            clientHealthScore:
                              type: integer
                            wifiHealthScore:
                              type: integer
                            wanHealthScore:
                              type: integer
                            scoreDetail:
                              type: object
                              properties:
                                deviceHealthScoreDetail:
                                  type: object
                                  properties:
                                    osgHealthScoreDetail:
                                      type: object
                                      properties:
                                        goodCount: {}
                                        averageCount: {}
                                        poorCount: {}
                                        noDataCount: {}
                                    oswHealthScoreDetail:
                                      type: object
                                      properties:
                                        goodCount: {}
                                        averageCount: {}
                                        poorCount: {}
                                        noDataCount: {}
                                    apHealthScoreDetail:
                                      type: object
                                      properties:
                                        goodCount: {}
                                        averageCount: {}
                                        poorCount: {}
                                        noDataCount: {}
                                clientHealthScoreDetail:
                                  type: object
                                  properties:
                                    goodCount:
                                      type: integer
                                    averageCount:
                                      type: integer
                                    poorCount:
                                      type: integer
                                    noDataCount:
                                      type: integer
                                wanScoreDetail:
                                  type: object
                                  properties:
                                    wanList:
                                      type: array
                                      items: {}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
      - name: end
        in: query
        required: false
        schema:
          type: string
      - name: start
        in: query
        required: false
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/hotspot/portal/candidates:
    post:
      summary: POST /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/hotspot/portal/candidates
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      wlanList:
                        type: array
                        items:
                          type: object
                          properties:
                            wlanId:
                              type: string
                            wlanName:
                              type: string
                            ssidList:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  name:
                                    type: string
                      networkList:
                        type: array
                        items: {}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                allPortal:
                  type: boolean
                portalIds:
                  type: array
                  items:
                    type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/hotspot/voucher-group-options:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/hotspot/voucher-group-options
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      totalRows:
                        type: integer
                      currentPage:
                        type: integer
                      currentSize:
                        type: integer
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            groupId:
                              type: string
                            name:
                              type: string
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: string
      - name: pageSize
        in: query
        required: false
        schema:
          type: string
  ? /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/hotspot/vouchers/statistics/history/distribution/unit-price/voucher-groups/{id3}
  : get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/hotspot/vouchers/statistics/history/distribution/unit-price/voucher-groups/{id3}
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      totalRows:
                        type: integer
                      currentPage:
                        type: integer
                      currentSize:
                        type: integer
                      data:
                        type: array
                        items: {}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
      - name: id3
        in: path
        required: true
        schema:
          type: string
      - name: filters.timeEnd
        in: query
        required: false
        schema:
          type: string
      - name: filters.timeStart
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: string
      - name: pageSize
        in: query
        required: false
        schema:
          type: string
      - name: sorts.usedCount
        in: query
        required: false
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/hotspot/vouchers/statistics/history/voucher-groups/{id3}:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/hotspot/vouchers/statistics/history/voucher-groups/{id3}
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      summary:
                        type: object
                        properties:
                          count:
                            type: integer
                          amount:
                            type: string
                          duration:
                            type: integer
                          currency:
                            type: string
                      usage:
                        type: array
                        items:
                          type: object
                          properties:
                            amount:
                              type: string
                            currency:
                              type: string
                            count:
                              type: integer
                            timeInterval:
                              type: integer
                            time:
                              type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
      - name: id3
        in: path
        required: true
        schema:
          type: string
      - name: filters.timeEnd
        in: query
        required: false
        schema:
          type: string
      - name: filters.timeStart
        in: query
        required: false
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/hotspot/vouchers/statistics/summary/voucher-groups/{id3}:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/hotspot/vouchers/statistics/summary/voucher-groups/{id3}
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      current:
                        type: object
                        properties:
                          count:
                            type: integer
                          amount:
                            type: string
                          duration:
                            type: integer
                          currency:
                            type: string
                      inUse:
                        type: object
                        properties:
                          count:
                            type: integer
                          amount:
                            type: string
                          duration:
                            type: integer
                          currency:
                            type: string
                      expired:
                        type: object
                        properties:
                          count:
                            type: integer
                          amount:
                            type: string
                          duration:
                            type: integer
                          currency:
                            type: string
                      unused:
                        type: object
                        properties:
                          count:
                            type: integer
                          amount:
                            type: string
                          duration:
                            type: integer
                          currency:
                            type: string
                      created:
                        type: object
                        properties:
                          count:
                            type: integer
                          amount:
                            type: string
                          duration:
                            type: integer
                          currency:
                            type: string
                      supportVoucherTrafficStat:
                        type: boolean
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
      - name: id3
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/report/allTabs:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/report/allTabs
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      tabsLimited:
                        type: boolean
                      reportTabVOs:
                        type: array
                        items:
                          type: object
                          properties:
                            tabId:
                              type: string
                            name:
                              type: string
                            cardGroupList:
                              type: array
                              items:
                                type: object
                                properties:
                                  cardGroupName:
                                    type: string
                                  cardList:
                                    type: array
                                    items: {}
                            type:
                              type: integer
                            status:
                              type: integer
                            rank:
                              type: integer
                            defaultKey:
                              type: string
                            defaultTab:
                              type: string
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/report/cards:
    post:
      summary: POST /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/report/cards
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      overviewSummary:
                        type: object
                        properties:
                          siteHealthScore:
                            type: integer
                          wifiHealthScore:
                            type: integer
                          deviceHealthScore:
                            type: integer
                          clientHealthScore:
                            type: integer
                          wanHealthScore:
                            type: integer
                          totalDevices:
                            type: integer
                          totalGateways:
                            type: integer
                          totalSwitches:
                            type: integer
                          totalAps:
                            type: integer
                          totalOlts:
                            type: integer
                          wiredClients:
                            type: integer
                          wirelessClients:
                            type: integer
                          totalClients:
                            type: integer
                          totalTraffic:
                            type: integer
                          wiredTraffic:
                            type: integer
                          wirelessTraffic:
                            type: integer
                      deviceHealthTrend:
                        type: array
                        items:
                          type: object
                          properties:
                            time:
                              type: integer
                            total:
                              type: integer
                            good:
                              type: integer
                            average:
                              type: integer
                            poor:
                              type: integer
                            noData:
                              type: integer
                      network:
                        type: object
                        properties:
                          trafficSummary:
                            type: object
                            properties:
                              totalTraffic:
                                type: integer
                              txTraffic:
                                type: integer
                              rxTraffic:
                                type: integer
                              trafficSummary:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    time:
                                      type: integer
                                    txData:
                                      type: integer
                                    rxData:
                                      type: integer
                                    totalData:
                                      type: integer
                          trafficDistribution:
                            type: object
                            properties:
                              totalTraffic:
                                type: integer
                              wiredTraffic:
                                type: integer
                              wirelessTraffic:
                                type: integer
                              trafficDistribution:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    time:
                                      type: integer
                                    wirelessData:
                                      type: integer
                                    wiredData:
                                      type: integer
                                    totalData:
                                      type: integer
                          clientTraffic:
                            type: object
                            properties:
                              totalTraffic:
                                type: integer
                              wiredClientsTraffic:
                                type: integer
                              clients2gTraffic:
                                type: integer
                              clients5gTraffic:
                                type: integer
                              clients6gTraffic:
                                type: integer
                              wiredClientsNum:
                                type: integer
                              clients2gNum:
                                type: integer
                              clients5gNum:
                                type: integer
                              clients6gNum:
                                type: integer
                          upgradeTime:
                            type: integer
                      clientConnectionTrend:
                        type: object
                        properties:
                          clientConnectionSummary:
                            type: object
                            properties:
                              totalClients:
                                type: integer
                              wirelessClients:
                                type: integer
                              wiredClients:
                                type: integer
                          clientConnectionTrend:
                            type: array
                            items:
                              type: object
                              properties:
                                time:
                                  type: integer
                                totalClients:
                                  type: integer
                                wirelessClients:
                                  type: integer
                                wiredClients:
                                  type: integer
                      internet:
                        type: object
                        properties:
                          totalTraffic:
                            type: integer
                          totalUpload:
                            type: integer
                          totalDownload:
                            type: integer
                          activityList:
                            type: array
                            items:
                              type: object
                              properties:
                                time:
                                  type: integer
                                upload:
                                  type: integer
                                download:
                                  type: integer
                                wiredCount:
                                  type: integer
                                wirelessCount:
                                  type: integer
                                totalData:
                                  type: integer
                          existData:
                            type: boolean
                          totalWiredCount:
                            type: integer
                          totalWirelessCount:
                            type: integer
                          totalClientCount:
                            type: integer
                      clientHealthTrend:
                        type: array
                        items:
                          type: object
                          properties:
                            time:
                              type: integer
                            total:
                              type: integer
                            good:
                              type: integer
                            average:
                              type: integer
                            poor:
                              type: integer
                            noData:
                              type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cards:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                      topK:
                        type: integer
                start:
                  type: integer
                end:
                  type: integer
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/rfPlanning/dashboard:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/rfPlanning/dashboard
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      wlanOptDashBoardDetail2g:
                        type: object
                        properties:
                          cciTrendDetail:
                            type: object
                            properties:
                              cciTrendItemList:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    time:
                                      type: integer
                                    strongInterferenceApNum:
                                      type: integer
                                    strongInterferenceApPercent:
                                      type: integer
                                    moderateInterferenceApNum:
                                      type: integer
                                    moderateInterferenceApPercent:
                                      type: integer
                                    weakInterferenceApNum:
                                      type: integer
                                    weakInterferenceApPercent:
                                      type: integer
                          cciCurrentDetail:
                            type: object
                            properties:
                              currentHighCciInfoList:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    mac:
                                      type: string
                                    model:
                                      type: string
                                    modelVersion:
                                      type: string
                                    type:
                                      type: string
                                    noData:
                                      type: boolean
                                    channel:
                                      type: integer
                                    totalLevel:
                                      type: integer
                                    totalLevelPercent:
                                      type: integer
                                    inSiteLevel:
                                      type: integer
                                    inSiteLevelPercent:
                                      type: integer
                                    outSiteLevel:
                                      type: integer
                                    outSiteLevelPercent:
                                      type: integer
                              currentMediumCciInfoList:
                                type: array
                                items: {}
                              currentLowCciInfoList:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    mac:
                                      type: string
                                    model:
                                      type: string
                                    modelVersion:
                                      type: string
                                    type:
                                      type: string
                                    noData:
                                      type: boolean
                                    channel:
                                      type: integer
                                    totalLevel:
                                      type: integer
                                    totalLevelPercent:
                                      type: integer
                                    inSiteLevel:
                                      type: integer
                                    inSiteLevelPercent:
                                      type: integer
                                    outSiteLevel:
                                      type: integer
                                    outSiteLevelPercent:
                                      type: integer
                              noDataList:
                                type: array
                                items: {}
                          apDensityTrendDetail:
                            type: object
                            properties:
                              apDensityItemList:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    time:
                                      type: integer
                                    denseApNum:
                                      type: integer
                                    denseApPercent:
                                      type: integer
                                    moderateApNum:
                                      type: integer
                                    moderateApPercent:
                                      type: integer
                                    sparseApNum:
                                      type: integer
                                    sparseApPercent:
                                      type: integer
                          apDensityCurrentDetail:
                            type: object
                            properties:
                              currentApDensityHighInfo:
                                type: array
                                items: {}
                              currentApDensityMediumInfo:
                                type: array
                                items: {}
                              currentApDensityLowInfo:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    mac:
                                      type: string
                                    model:
                                      type: string
                                    modelVersion:
                                      type: string
                                    type:
                                      type: string
                                    noData:
                                      type: boolean
                                    neighborApNum:
                                      type: integer
                                    neighborApPercent:
                                      type: integer
                              noDataList:
                                type: array
                                items: {}
                      wlanOptDashBoardDetail5g:
                        type: object
                        properties:
                          cciTrendDetail:
                            type: object
                            properties:
                              cciTrendItemList:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    time:
                                      type: integer
                                    strongInterferenceApNum:
                                      type: integer
                                    strongInterferenceApPercent:
                                      type: integer
                                    moderateInterferenceApNum:
                                      type: integer
                                    moderateInterferenceApPercent:
                                      type: integer
                                    weakInterferenceApNum:
                                      type: integer
                                    weakInterferenceApPercent:
                                      type: integer
                          cciCurrentDetail:
                            type: object
                            properties:
                              currentHighCciInfoList:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    mac:
                                      type: string
                                    model:
                                      type: string
                                    modelVersion:
                                      type: string
                                    type:
                                      type: string
                                    noData:
                                      type: boolean
                                    channel:
                                      type: integer
                                    totalLevel:
                                      type: integer
                                    totalLevelPercent:
                                      type: integer
                                    inSiteLevel:
                                      type: integer
                                    inSiteLevelPercent:
                                      type: integer
                                    outSiteLevel:
                                      type: integer
                                    outSiteLevelPercent:
                                      type: integer
                              currentMediumCciInfoList:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    mac:
                                      type: string
                                    model:
                                      type: string
                                    modelVersion:
                                      type: string
                                    type:
                                      type: string
                                    noData:
                                      type: boolean
                                    channel:
                                      type: integer
                                    totalLevel:
                                      type: integer
                                    totalLevelPercent:
                                      type: integer
                                    inSiteLevel:
                                      type: integer
                                    inSiteLevelPercent:
                                      type: integer
                                    outSiteLevel:
                                      type: integer
                                    outSiteLevelPercent:
                                      type: integer
                              currentLowCciInfoList:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    mac:
                                      type: string
                                    model:
                                      type: string
                                    modelVersion:
                                      type: string
                                    type:
                                      type: string
                                    noData:
                                      type: boolean
                                    channel:
                                      type: integer
                                    totalLevel:
                                      type: integer
                                    totalLevelPercent:
                                      type: integer
                                    inSiteLevel:
                                      type: integer
                                    inSiteLevelPercent:
                                      type: integer
                                    outSiteLevel:
                                      type: integer
                                    outSiteLevelPercent:
                                      type: integer
                              noDataList:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    mac:
                                      type: string
                                    model:
                                      type: string
                                    modelVersion:
                                      type: string
                                    type:
                                      type: string
                                    noData:
                                      type: boolean
                                    noDataReason:
                                      type: integer
                          apDensityTrendDetail:
                            type: object
                            properties:
                              apDensityItemList:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    time:
                                      type: integer
                                    denseApNum:
                                      type: integer
                                    denseApPercent:
                                      type: integer
                                    moderateApNum:
                                      type: integer
                                    moderateApPercent:
                                      type: integer
                                    sparseApNum:
                                      type: integer
                                    sparseApPercent:
                                      type: integer
                          apDensityCurrentDetail:
                            type: object
                            properties:
                              currentApDensityHighInfo:
                                type: array
                                items: {}
                              currentApDensityMediumInfo:
                                type: array
                                items: {}
                              currentApDensityLowInfo:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    mac:
                                      type: string
                                    model:
                                      type: string
                                    modelVersion:
                                      type: string
                                    type:
                                      type: string
                                    noData:
                                      type: boolean
                                    neighborApNum:
                                      type: integer
                                    neighborApPercent:
                                      type: integer
                              noDataList:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    mac:
                                      type: string
                                    model:
                                      type: string
                                    modelVersion:
                                      type: string
                                    type:
                                      type: string
                                    noData:
                                      type: boolean
                                    noDataReason:
                                      type: integer
                      wlanOptDashBoardDetail6g:
                        type: object
                        properties:
                          cciTrendDetail:
                            type: object
                            properties:
                              cciTrendItemList:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    time:
                                      type: integer
                          cciCurrentDetail:
                            type: object
                            properties: {}
                          apDensityTrendDetail:
                            type: object
                            properties:
                              apDensityItemList:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    time:
                                      type: integer
                          apDensityCurrentDetail:
                            type: object
                            properties: {}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
      - name: end
        in: query
        required: false
        schema:
          type: string
      - name: start
        in: query
        required: false
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/rfPlanning/dashboard/history:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/rfPlanning/dashboard/history
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      historyItemList2g:
                        type: array
                        items:
                          type: object
                          properties:
                            time:
                              type: integer
                            modeList:
                              type: array
                              items:
                                type: integer
                            historyInfoList:
                              type: array
                              items:
                                type: object
                                properties:
                                  mode:
                                    type: integer
                                  reasonList:
                                    type: array
                                    items: {}
                      historyItemList5g:
                        type: array
                        items:
                          type: object
                          properties:
                            time:
                              type: integer
                            modeList:
                              type: array
                              items:
                                type: integer
                            historyInfoList:
                              type: array
                              items:
                                type: object
                                properties:
                                  mode:
                                    type: integer
                                  reasonList:
                                    type: array
                                    items: {}
                      historyItemList6g:
                        type: array
                        items: {}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
      - name: end
        in: query
        required: false
        schema:
          type: string
      - name: start
        in: query
        required: false
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/rfPlanning/dashboard/status:
    get:
      summary: GET /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/rfPlanning/dashboard/status
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      status:
                        type: integer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/settings/ui-setting:
    post:
      summary: POST /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/settings/ui-setting
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      settings:
                        type: array
                        items:
                          type: object
                          properties:
                            settingKey:
                              type: string
                            uiSetting:
                              type: string
                            accountLevel:
                              type: boolean
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: array
                  items:
                    type: object
                    properties:
                      settingKey:
                        type: string
    put:
      summary: PUT /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/settings/ui-setting
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id2
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: array
                  items:
                    type: object
                    properties:
                      settingKey:
                        type: string
                      uiSetting:
                        type: string
                      accountLevel:
                        type: boolean
  /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/wifi/health/client/list:
    post:
      summary: POST /omadac/{id}/openapi/v1/{id2}/sites/{siteId}/wifi/health/client/list
      responses:
        '200':
          description: captured
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      accessTimeList:
                        type: array
                        items:
                          type: object
                          properties:
                            mac:
                              type: string
                            ip:
                              type: string
[...]
